/*header*/
/*section1*/
.home {
	background-image: url(../img/home.jpg);
	background-size: 100%;
	padding-bottom: 10%;
	padding-top: 10%;
}
.titulo {
	color: white;
}
/*section2*/
.fondo-blanco {
	background-color: white;
	background-size: 100%;
}
/*section3*/
.fondo-amarillo {
	background-color: yellow;
}
.imghackathon {
    width: 90%;
    margin: 5% 0% 5% 5%;
}
/*section4*/
.imgmade {
    width: 100%;
    margin: 10%;
}
.formulario {
	margin: 8%;
}
ul li {
	list-style: none;
	margin-left: -7%;
}
li {
	margin: 1%;
}
/*foot*/
.fondo-azul {
	background-color: rgb(46, 150, 187);
	padding: 2% 0%;
}
.white {
	color: white;
}
.yellow {
	color: yellow;
}